body{
    margin: 20px;
   border: 1px solid  black;
    padding: 10px;
    font-family: 'Inter', sans-serif; font-size: 16px;
}
a{text-decoration: none;}

.explanation{
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;

}
.explanation p{
    font-size: 20px;
}

.information{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}
.information label{
    position: relative;
    padding: 6px;
    font-weight: 600;

}

.information input{
    width: 400px;
}

#btd-date{
    font-size: 13px;
    text-align: center;

}

.plane{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
}

.plane label{
    font-weight: 600;
    padding: 6px;
}

.plane-advance{
    padding: 15px;
}

.credit-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.credit-card label{
    padding: 6px;
    font-weight: 700;
}
.credit-card input{
    width: 300px;
}

.btn{
position: relative;
display: flex;
justify-content: center;
padding: 5px;
margin-bottom: 10px;
}

.btn button{
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    color: red;
}