:root{
    --a-color:#2b2b2b;
}


  
body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    height: 100%;
    box-sizing: border-box;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}

.header{
    background-color: #d7d7d7;
    box-shadow: 2px 1px 5px rgb(97, 95, 95);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Playfair Display', serif !important;
}

.header-logo{
    padding-left: 100px;
}

.header-link ul{
    list-style: none;
    display: flex;

    padding-right: 100px;
}

.header-link li{
    padding: 0px 30px 0px 30px;
}

.header-link a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: var(--a-color);
}
.header-link a:hover{
    font-size: 22px;
    color:#2b2bb2 ;
    text-decoration:underline red;
    transition: 0.3s ease;
}

main{
    display: flex;
}

aside{
    font-family: 'Playfair Display', serif !important;
    display: flex;
    flex: 1 0 10%;
}

.sidebar {
    background-color: rgba(0, 0, 0, 0.137);
    margin-bottom: -50px;
    box-shadow: 2px 1px 5px rgb(97, 95, 95);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: auto;
}

.side-link li{
    list-style: none;
    padding: 50px;
}

.side-link a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    color: var(--a-color);

}

.side-link a:hover{
    font-size: 19px;
    color:#2b2bb2;
    text-decoration: underline red;
    transition: .3s ease;
}

.side-account{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.side-account img{
 width: 70px;
 height: 70px;
 border-radius: 50px;
}

.content{
    display: block;
    width: 67%;
    height: 100%;
    margin: 38px 0px -39px 50px;
}

.content-text h1{
    text-align: center;
    font-size: 25px;
}

.content-text p{
    text-align: justify;
    font-size: 18px;
}


.footer{
    box-shadow: 2px 1px 5px rgb(97, 95, 95);
    font-weight: 600;
    font-family: 'Playfair Display', serif !important;
    margin-top: 53px;
}

.footer-contact{
background-color: rgba(0, 0, 0, 0.26);
}
.footer-contact a{
    text-decoration: none;
    color: var(--a-color);
}

.footer-contact a:hover{
    font-size: 18px;
    transition: 0.2s ease;
    color:#2b2bb2 ;
    text-decoration: underline red;
}


.footer-link ul{
display: flex;

}

.footer-link li{
   list-style: none;
   display: flex;
   padding: 10px 28px 10px 28px;
}
.footer-link a{
   text-decoration: none;
   color: var(--a-color);
}

.footer-link a:hover{
    font-size: 18px;
    transition: 0.3s ease;
    color:#2b2bb2 ;
    text-decoration: underline red;
}