table{ border-collapse: collapse;
border: 1px solid rgb(219, 212, 212);
letter-spacing: 2px;
}

caption{
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 20px;
}

td, 
th{
 border: 1px solid rgb(219, 212, 212);
 padding: 10px 20px;
}