body {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    padding: 0%;
    height: 100vh;
  }
  
  section {
    width:200px ;
  }
  p{
    margin-top: 60px;
    font-weight: bold;
    font-size: 18px;
  }
  
  #green {
    background-color: #8ffda7;
  }
  
  #orange {
    background-color: #ffc788;
    width: 600px !important;
  }
  
  #yellow {
    background-color: #ffff92;
  }
  
  #red {
    background-color: #ff919c;
  }
  
  #blue {
    background-color: #98d2ff;
  }
  
  ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  li {
    background-color: white;
    padding: 1em;
    display: block;
    margin: 1em;
  }