body {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    'header header header header'
    'aside main-1 main-1 main-1'
    'aside main-1 main-1 main-1'
    'aside main-2 main-2 main-2'
    'aside main-3 main-3 main-3';
  }
  
  section {
    padding: 2em;
    margin: 1em;
  }
  
  #green {
    background-color: #8ffda7;
    grid-area: main-3;
  }
  
  #orange {
    background-color: #ffc788;
    grid-area: main-1;
  }
  
  #yellow {
    background-color: #ffff92;
    grid-area: header;
  }
  #yellow ul li:first-child{
      width: 30%;
  }
  
  #red {
    background-color: #ff919c;
    grid-area: main-2;
  }
  
  #blue {
    background-color: #98d2ff;
    grid-area: aside;
  }
  
  ul {
    display: flex;
    padding: 0;
  }
  
  li {
    background-color: white;
    padding: 1em;
    display: block;
    margin: 1em;
    width: 15%;
  }
  