:root{
    --bg-color-body:#011212;
    --width-100-px:100px;
    --height-100-px:100px;
    --bg-color-ball:#ff8800;
    --border-radius-50-px:50px;
}


body {
    background-color: var(--bg-color-body);
}

.ball {
    width: var(--width-100-px);
    height: var(--height-100-px);
    background-color: var(--bg-color-ball);
    border-radius: var(--border-radius-50-px);
}
