body{
    margin: 0%;
    padding: 0%;
 background-color: rgb(235, 230, 235);
}

header{  
    height: 100px;
    background-color: rgb(127 34 34);
    max-height:100vh ;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
header h1{
    font-size: 50px;
    padding-left: 75px;
    color: white;
}



.menu{
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;

}

.menu a{
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding: 15px;
}

.menu button{
    border:0px;
    padding: 8px;
    margin-right: 35px;
    border-radius: 10px;
    background-color: cornflowerblue;

}
.menu button a:hover {
    font-size: 17px;
    padding: 20px;
    transition: .4s ease;
}


.article-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column; 
    padding: 50px;
    
}

.img__article-1{
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    width: 800px;
    position: relative;
    left: 250px;
    margin: 50px;
    border: 1px solid black;
}
form h2 ,
form p{
    position: relative;
    left:20px ;
}

.iscriviti{
    width: 350px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.iscriviti label{
    margin: 5px;
}

.iscriviti button{
    padding: 3px;
     width: 50px;
     height: 30px;
     margin-top: 10px;
}

.iscriviti a{
    position: relative;
    left: 300px;   
    text-decoration: none; 
}

.iscriviti a:hover{
    color: red;
    font-size: 17px;
    transition: 0.4s ease;
}


.footer{
    margin-top: 100px;
    width: 100%;
    height: 220px;
    background-color: rgb(99, 99, 105);
    display: flex;
    justify-content: space-around;
    
}

.footer a:hover{
    padding: 22px;
    color: red;
    font-size: 17px;
    transition: .5s ease ;
}

.col-1 ,
.col-2 ,
.col-3 {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}


.col-1 a,
.col-2 a,
.col-3 a {
    padding: 20px;
    text-decoration: none;
    color: white;
}





*,
*:before,
*:after
{
 -webkit-box-sizing: border-box;
 -moz-box-sizing:border-box ;
   box-sizing:border-box ;

}