body {
	font-family: monospace;
}
p{
	margin: 0;
	padding: 0;
}

#expand-toggle {
	display: none;
}

tr{
	background: gray;
	color: #88ff88;
}

.expandable {
	visibility: collapse;
	background: gray;
	color: #ff8888 !important;
}

#expand-btn{
    position: relative;
	top: 150px;
	display: inline-block;
	margin-top: 12px;
	padding: 6px 12px;
	background-color: #ff8888;
	border: 1px solid;
	border-radius: 3px;
	transition: 0.3s;
} 

#expand-toggle:checked+#expand-btn+table>tbody>.expandable {
visibility: visible;
}
#expand-toggle:checked+#expand-btn p{
	display: none;
}
#expand-toggle:checked+#expand-btn::after{
	content: 'Nascondi righe';
	width: 50px;
	height: 50px;
}