
input[type="checkbox"] {
    display: none; 
  }

  label {
      font-size: 17px;
      background-color: #af4c4c;
      box-shadow: 5px 5px 5px black;
      border-radius: 20px;
      color: white;
      padding: 15px 32px;
      text-align: center;
      display: inline-block;
      cursor: pointer;
      user-select: none;
  }
  

  .expandable{
      display: none;
  }

  input[type="checkbox"]:checked + label + .expandable {
    display: block;
  }


